version: '3.8'
services:
  bot:
    build: .
    depends_on:
      - redis
    expose:
      - "8080"  # Внутренний порт для nginx
    volumes:
      - ./output:/app/output
    environment:
      - REDIS_URL=redis://redis:6379/0
    restart: unless-stopped

  nginx:
    image: nginx:latest
    ports:
      - "80:80"    # HTTP
      - "443:443"  # HTTPS
    volumes:
      - ./output:/usr/share/nginx/html/output
      - ./media:/usr/share/nginx/html/media
      - ./nginx.conf:/etc/nginx/conf.d/default.conf  # Конфиг nginx
      - certbot-etc:/etc/letsencrypt  # Сертификаты SSL
      - certbot-var:/var/lib/letsencrypt
    depends_on:
      - bot
    restart: unless-stopped

  redis:
    image: redis:alpine
    restart: unless-stopped

  # Certbot для получения SSL сертификатов
  certbot:
    image: certbot/certbot
    volumes:
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
      - ./output:/usr/share/nginx/html/output
    command: certonly --webroot --webroot-path=/usr/share/nginx/html/output --email korjafar@gmail.com --agree-tos --no-eff-email -d boompiai.ru
    depends_on:
      - nginx

volumes:
  certbot-etc:
  certbot-var: