version: '3.8'
services:
  bot:
    build: .
    depends_on:
      - redis
    ports:
      - "8080:8080"  # Веб-сервер бота на 8080
    volumes:
      - ./output:/app/output
    environment:
      - REDIS_URL=redis://redis:6379/0

  nginx:
    image: nginx:latest
    ports:
      - "80:80"    # HTTP
      - "443:443"  # HTTPS
    volumes:
      - ./output:/usr/share/nginx/html/output  # Монтируем output для раздачи файлов
      - ./media:/usr/share/nginx/html/media    # Для статических файлов из media
    depends_on:
      - bot

  redis:
    image: redis:alpine

volumes:
  pgdata: